/* You can add global styles to this file, and also import other style files */
body{
    padding: 15px 30px;
    background-color: #f5f6fa !important;
}

#map {
    height: 650px;
    
}

main{
    max-height: 870px;
}

@media screen and (min-width: 480px) {
    
  }